
# Python General

__pycache__/


# Virtual Environments

env/
surveillance/


# SQLite / Database

*.db


# Model & Training Outputs

runs/
models/
*.pt


# Dataset - for custom model

dataset/


# Dataset - for testing outputs

Sample_data/
*.avi
*.mp4
*.jpg
*.webp

# Outputs (videos, Images, etc)

Outputs/
*.avi
*.mp4
*.jpg
*.txt

# Wheel files 

*.whl




